/* body{
    background-image: liner-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3),url('http://127.0.0.1:8000/static/img/HR-Background.jpg'));
    background-position: center 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */