
html,body{
    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

#footer,
.push{
    height: 50px;
}
#navbar-content{
    text-align: center;
    color: #02a9f5;
}
.block-position{
    width: 80%;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50% ,-70%);
    text-align: center;
}
#btn-job{
    width: 230px;
    font-size: 18px;
    border-radius: 30px;
    margin-bottom: -50px;
}
.side-label{
    width: 3.5rem;
}

.btn-cancel, .btn-send {
    width: 70px;
}
/* Spinner frontend animation */
#payloader{
    border: 6px solid #858585;
    border-radius: 50%;
    border-top-color: #17caf0;
    position: absolute;
    top: 55%;
    left: calc(50% - 32px);
    width: 55px;
    height: 55px;
    z-index: 2;
    animation: payloader 1.2s;
    animation-fill-mode: forwards;
}

@keyframes payloader {
    to{
        transform: rotate(360deg);
        opacity: 0;
    }
}