/* Scroll Bar */

body{
    background-color: #F1F1F1;
    color: #313131;
}
body::-webkit-scrollbar{
    width: 9px;
    background-color:#E4E4E4;
}
body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color:#02d4fa;
}
body::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #b8dfe9;
}


html,body{
    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

#footer,
.push{
    height: 50px;
}
#navbar-content{
    text-align: center;
    color: #02a9f5;
}
.block-position{
    width: 80%;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50% ,-70%);
    text-align: center;
}
#btn-job{
    width: 230px;
    font-size: 18px;
    border-radius: 30px;
    margin-bottom: -50px;
}
.side-label{
    width: 3.5rem;
}

.btn-cancel, .btn-send, .btn-modal {
    width: 70px;
}
/*---------------------------
Spinner frontend animation 
----------------------------*/
#payloader{
    border: 6px solid #858585;
    border-radius: 50%;
    border-top-color: #17caf0;
    position: absolute;
    top: 55%;
    left: calc(50% - 32px);
    width: 55px;
    height: 55px;
    z-index: 2;
    animation: payloader 1.2s;
    animation-fill-mode: forwards;
}

@keyframes payloader {
    to{
        transform: rotate(360deg);
        opacity: 0;
    }
}

/* -------------------------
SPINNER BACKEND AJAX
---------------------------- */
#bg-spinner {
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
    background: rgba(1, 1, 1, 0.6);
}
#position-spinner {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#spinner {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 6px #d3d3d3 solid;
    border-top: 6px #17caf0 solid;
    animation: loading 1s infinite linear;    
}

@keyframes loading {
    to{
        transform: rotate(360deg);
    }
}

/* -------------------------
    CUSTOM SWEETALERT
---------------------------- */
.swal-text {
    text-align: center;
}
/* Icon Settings */
.swal-icon--success:before,
.swal-icon--success:after,
.swal-icon--success__hide-corners{
    background: none !important;
}
.swal-icon--success {
    border-color: #17caf0;
}
.swal-icon--success__line {
    background-color: #17caf0;
}
.swal-button{
    padding: 7px 19px;
    border-radius: 5px;
    background-color: #111;
    font-size: 12px;
    border: 1px solid #111;
}
.swal-button:focus {
    /* Remove the silver border around the native bottom */
    box-shadow: none;
}
.swal-button:not([disabled]):hover{
    background: transparent;
    color: #111;
    border: 1px solid #111;
    
}

/* --------------------
Login Design
----------------------- */
#card-login {
    width: 500px;
}
.login-border {
    border: .2rem solid #02a9f5;
    border-top: .4rem solid #02a9f5;
    border-bottom: .4rem solid #02a9f5;
    border-radius: 10px;
}
#btn-login {
    border-radius: .5rem;
    font-size: 1.4rem;
    font-weight: 500;
}
/* -------------------- 
PULSE EFFECTS & ICON
-----------------------*/
/* Pulse effect in message popup and question icon */
.pulse {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    bottom: 75px;
    padding:5px;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0%{
        box-shadow: 0 0 0 0 rgba(49, 210, 242, .7),0 0 0 0 rgba(49, 210, 242, .7);
    }
    40%{
        box-shadow: 0 0 0 10px rgba(12, 165, 139, 0.7),0 0 0 0 rgba(49, 210, 242, .7);
    }
    80%{
        box-shadow: 0 0 0 20px rgba(6, 143, 148, 0.5),0 0 0 0 rgba(3, 147, 133, 0.5);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(5, 188, 176, 0.7),0 0 0 0 rgba(2, 117, 115, 0.7);
    }
}

/* -------------------- 
FAQ - ACCORDION
-----------------------*/
.accordion-button:is(.collapsed){
    background-color:#02d5fa4b;
}
.accordion-button:not(.collapsed){
    color: #F1F1F1;
    background-color: #02d5faa2;
    box-shadow: inset 0 -1px 0 rgba(12, 165, 139, 0.3);
    font-weight: bold !important;
    
} 
.accordion-button:focus {
    box-shadow: 0 0 8px rgba(12, 165, 139, 0.3);
}


/* -------------------- 
Others
-----------------------*/
.watermark{
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: none;
    z-index: -1;
}
#modal-message{
    position: absolute;
    bottom: 50px;
    right: 30px;
    width: 400px;
}
#input-timer{
    font-size: 25px;
}
/* Total of candidates (backend popup modal) */
#candidate {
    font-size: 100px;
}
/* --------------------
Responsive Design
----------------------- */

/* Resolution for Tablets */
@media (max-width: 1024px) {
    #footer {
        font-size: 15px;
    }
    /* Watermark in the body (not inside the sidebars) */
    .watermark{
        top: 70%;
        font-size: 12px;
    }
    /* Watermark (only in login form) */
    .watermark-login{
        font-size: 10px;
    }
    .down{
        margin-top: 15px;
    }
    .up{
        margin-top: -20px;
    }
    .card-size{
        font-size: 16px;
    }
}

/* Resolution for Smartphones */
@media (max-width: 575px) {
    #footer {
        font-size: 12px;
    }
    body{
        overflow-y: visible;
    }
    #navbar-content {
        font-size: 16px;
        margin-left: 15px;
    }
    .typed-text{
        font-size: 24px;
    }
    #btn-job {
        font-size: 15px;
        width: 200px;
    }
    .jobs{
        font-size: 13px;
    }
    #card-title{
        font-size: 14px;
    }
    #back{
        font-size: 20px;
        margin-right: 20px;
    }
    #card-login {
        width: 95%;
        overflow: hidden;
    }
    #modal-message{
        bottom: 50px;
        right: 12px;
        width: 90%;
    }
    .pulse{
        width: 40px;
        height: 40px;
    }
    #input-timer{
        font-size: 20px;
    }
    #btn-nav-right{
        font-size: 20px;
        margin-right: 20px;
    }
    .watermark{
        font-size: 9px;
    }
    .up {
        margin-top: 0px;
    }
    /* Total of candidates (backend popup modal) */
    #candidate {
        font-size: 50px;
    }
}


