{% extends "models/baseModel.html" %}{% load static %}


<!--Modal id-->
{% block modelId %} id="frontendModel" {% endblock modelId %}

<!--Modal title-->
{% block modelTitle %} Frontend Job Vaciency {% endblock modelTitle %}

<!--Form validation-->
{% block validation %} onsubmit="return validateForm()" {% endblock validation %}

<!--Input ID-->
{% block id-name %} id="name" {% endblock id-name %}
{% block id-age %} id="age" {% endblock id-age %}
{% block id-email %} id="email" {% endblock id-email %}
{% block id-phone %} id="phone" {% endblock id-phone %}
{% block id-address %} id="address" {% endblock id-address %}
{% block id-experience %} id="experience" {% endblock id-experience %} 
{% block id-skills %} id="skills" {% endblock id-skills %}
{% block id-file %} id="file" {% endblock id-file %}