
  
  <!-- Modal -->
  <div class="modal fade" {% block modal-id %}{% endblock modal-id %} tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content text-success" style="background: #212529 !important;">
        <div class="modal-header">
          <h1 class="modal-title fs-5">{% block modal-title %}{% endblock modal-title %}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color:#fff;color:#212529;margin:0px;padding: 3px;"></button>
        </div>
        {% block form %}
        <!--Input Color-->
        {% block input-color %}{% endblock input-color %}
        <div class="modal-body text-center" style="text-align:center;margin:2px;">
          {% block modal-body %}{% endblock modal-body %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm btn-modal" data-bs-dismiss="modal">Close</button>
          {% block btn-action %}{% endblock btn-action %}
        </div>
        {% endblock form %}
      </div>
    </div>
  </div>