{% extends "models/backend/base.html" %}
{% load static %}

<!--Modal ID-->
{% block modal-id %} id="candidatesModal" {% endblock modal-id %}

<!--Modal title-->
{% block modal-title %}
<i class="text-success fas fa-user-alt"></i> &nbsp;&nbsp; Total of candidates
{% endblock modal-title %}

<!--Modal Body-->
{% block modal-body %}

    <h1 class="text-success text-center"  id="candidate" style="font-size: 100px;">{{count}}</h1>
{% endblock modal-body %}



{% block btn-action %}{% endblock btn-action %}