{% extends "models/backend/base.html" %}
{% load static %}

<!--Modal ID-->
{% block modal-id %} id="countdownModal{{countdown.pk}}" {% endblock modal-id %}

<!--Modal title-->
{% block modal-title %}
<i class="text-danger far fa-clock"></i> &nbsp;&nbsp; <span class="text-danger">Countdown App</span>
{% endblock modal-title %}

<!--Modal Form-->
{% block form %}
    <form action="{% url "edit_countdown" %}" method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="modal-body">
            <span class="card p-2 bg-danger text-center text-light mb-3"> Countdown for job vacancies </span>
            <!--ID Hidden-->
            <input type="hidden" name="id" value="{{ countdown.pk}}" readonly >
            <!-- Input Title-->
            <div class="input-group mb-4">
                <input type="text" class="form-control text-center border-dark text-danger" id="input-timer" name="timer" value="{{ countdown.timer }}" >
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm btn-modal" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-outline-info btn-sm btn-modal" id="save-timer" >Save</button>
        </div>
    </form>
{% endblock form %}

