{% extends "base.html" %}
{% load static %}

{% block bg-image %}
<style>
    body{
        background-color: #16191c;
        background-position: center 0px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
{% endblock bg-image %}

<!----- Sidebar Links---->
{% block sidebar-links %}
    <a data-bs-toggle="modal" data-bs-target="#LogoutModel" class="btn btn-danger">Logout</a>
    {% if request.user.is_superuser %}
        <a href="{% url "admin:index" %}" target="_blank" class="btn btn-secondary">Admin</a>
    {% else %}
        <a href="{% url "support" %}" class="btn btn-outline-info">Support</a>
    {% endif %}
    <hr><br>
    <center class="mt-5">
        <i class="fas fa-snowboarding fa-7x" style="color: #4e5154;"></i>
    </center>
{% endblock sidebar-links %}

{% block content %}
    <div class="container mt-4" style="width: 95%;">
        <span style="margin-left: -10px;margin-bottom:12px; color:#fff;">Welcome,
            <strong><span class="text-danger">{{ user.get_username }}</span>
            </strong>
        </span>
        <div class="justify-content-center align-items-center row mt-3">
            <h6 class="btn btn-info btn-lg text-sm" style="width:100%;cursor: default;">
                <strong><i class="fas fa-cog"></i>&nbsp;&nbsp; Control Panel</strong>
            </h6>
            <div class="card border-info mt-3">
                <div class="row">

                    <!--Items-->
                    <div class="col-xl-3 col-sm-6 col-6 p-1">
                        <div class="card" style="background-color: transparent;">
                            <button class="btn btn-success btn-lg jobs" data-bs-toggle="modal" data-bs-target="#candidatesModal">
                                <i class="fas fa-user-alt fa-7x"></i><br><br> Candidates
                            </button>
                        </div>
                    </div>

                    <!--Items-->
                    <div class="col-xl-3 col-sm-6 col-6 p-1">
                        <div class="card" style="background-color: transparent;">
                            <button class="btn btn-warning btn-lg jobs">
                                <i class="fas fa-users fa-7x"></i><br><br> Opportunities
                            </button>
                        </div>
                    </div>

                    <!--Items-->
                    <div class="col-xl-3 col-sm-6 col-6 p-1">
                        <div class="card" style="background-color: transparent;">
                            <button class="btn btn-danger btn-lg jobs" >
                                <i class="fas fa-clock fa-7x"></i><br><br> Countdown
                            </button>
                        </div>
                    </div>

                    <!--Items-->
                    <div class="col-xl-3 col-sm-6 col-6 p-1">
                        <div class="card" style="background-color: transparent;">
                        {% for notepad in notepads %}
                            <button class="btn btn-primary btn-lg jobs"data-bs-toggle="modal" data-bs-target="#notepadModal{{notepad.pk}}">
                                <i class="fas fa-file-alt fa-7x"></i><br><br> Nodepad
                            </button>
                            {% include "models/backend/notepad.html" %}
                        {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br><br><br>
        <center>
            <button class="btn mt-5 watermark" disabled style="color: #e9e9e9">
                <img style="opacity: 0.2;" src="{% static "img/favicon.png" %}" alt="watermark">
            </button>
        </center>
    </div> <!-- END // container-->
{% endblock content %}