{% extends "base.html" %}
{% load static %}
{% block title %} HR Home {% endblock title %}
{% block content %}
    
    <div class="block-position">
        <h1 class="text-light">We <span class="text-info" id="homeTitle">Your Dream Job...</span></h1>
        <a href="{% url "opportunities" %}" class="btn btn-outline-info border-light fw-bold mt-sm-5" id="btn-job" title="opportunities">
            <i class="fas fa-space-shuttle"></i> <span>Job Opportunities</span>
        </a>
    </div>

{% endblock content %}
