{% extends "base.html" %}
{% load static %}
{% block title %} HR Home {% endblock title %}
{% block content %}
    
    <div class="block-position">
        <h1 class="text-light typed-text">We <span class="text-info" id="homeTitle">Your Dream Job...</span></h1>
        <a href="{% url "opportunities" %}" class="btn btn-outline-info border-light fw-bold mt-sm-5" id="btn-job" title="opportunities">
            <i class="fas fa-space-shuttle"></i> <span>Job Opportunities</span>
        </a>
    </div>

    <!-- Message-->
    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog" id="modal-message">
        <div class="modal-content" style="background: #212529 !important; color:#fff;">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="messageModalLabel"> <i class="fas fa-envelope"></i>&nbsp;&nbsp; Message</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color:#fff;color:#212529;margin:0px;padding: 3px;"></button>
            </div>
            <form action="#" method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <textarea name="message" id="" cols="30" rows="10" class="form-control" maxlength="1000" required placeholder="Send us a message...."></textarea>
                    </div>
                    <div class="d-grid gap-2 mb-3 mt-3">
                        <button class="btn btn-info">Send Message &nbsp;&nbsp;
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>

    <div class="">
        <button class="btn btn-info text-light pulse" data-bs-toggle="modal" data-bs-target="#messageModal">
            <i class="fas fa-envelope fa-2x"></i>
        </button>
    </div>

{% endblock content %}
