{% extends "base.html" %}
{% load static %}

{% block title %} Support Page{% endblock title %}
{% block bg-image %}
<style>
    body{
        background-color: #16191c;
        background-position: center 0px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
{% endblock bg-image %}

{% comment %} Sidebar Links {% endcomment %}
{% block sidebar-links %}
    <a href="{% url "home" %}" class="btn btn-warning">Home</a>
    {% if user.is_authenticated %}
        {% if not request.user.is_superuser %}
            <a href="{% url "backend" %}" class="btn btn-outline-light">Panel</a>
        {% endif %}
    {% endif %}
    <hr><br>
    <center class="mt-5">
        <i class="fas fa-headset fa-7x" style="color: #4e5154;"></i>
    </center>
{% endblock sidebar-links %}

<!--Page Content-->
{% block content %}
    <div class="container mt-5" style="width:95%">
        <h4 class="btn btn-lg border-info mb-3 text-light" style="width:100%;cursor: default;">
            <i class="fas fa-tools"></i>&nbsp;&nbsp; Technical Support
        </h4>
        <div class="card p-3 border-light" style="background-color:rgba(255,255,255,0.06);">
            <form method="POST" class="was-validated" autocomplete="off">
                {% csrf_token %}
                <div class="mb-3">
                    <textarea name="message" rows="5" class="form-control" maxlength="1000" placeholder="Describe here your problem..." required></textarea>
                    <div class="invalid-feedback">Summarize as much as possible</div>
                </div>

                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" value="True" checked name="terms" id="validationFormCheck1" required>
                    <label for="validationFormCheck1" class="form-check-label">I take responsibility</label>
                    <div class="invalid-feedback">You will take responsibility</div>
                </div>

                {% if user.is_authenticated %}
                <div class="mb-3">
                    <select name="person" id="choose" onchange="req()" class="form-select" required>
                        <option value="Employee">Employee</option>
                    </select>
                </div>

                
                <div class="mb-3">
                    <select name="option" id="dependent" class="form-select" required>
                        <option value="">Select a subject </option>
                        <option value="" disabled></option>
                        <option value="I lost my account">I lost my account</option>
                        <option value="My password does not work">My password does not work</option>
                        <option value="Others">Others</option>
                    </select>
                    <div class="invalid-feedback">Only one topic</div>
                </div>

                {% else %}
                <div class="mb-3">
                    <select name="person" id="choose" onchange="req()" class="form-select" required>
                        <option value="">Who are you ?</option>
                        <option value="" disabled></option>
                        <option value="Employee">Employee</option>
                        <option value="Candidate">Candidate</option>
                    </select>
                    <div class="invalid-feedback">Only one topic</div>
                </div>

                
                <div class="mb-3">
                    <select name="option" id="dependent" class="form-select" required>
                        <option value="">Select a subject </option>
                        <option value="" disabled></option>
                        <option value="I lost my account">I lost my account</option>
                        <option value="My password does not work">My password does not work</option>
                        <option value="Update resume">Update resume</option>
                        <option value="Others">Others</option>
                    </select>
                    <div class="invalid-feedback">Only one topic</div>
                </div>
                {% endif %}
                
                {% if user.is_authenticated and user.email %}
                <div class="mb-4">
                    <input type="email" class="form-control" name="email" value="{{user.email}}" title="Email" required>
                </div>
                {% else %}
                <div class="mb-4">
                    <input type="email" class="form-control" name="email" maxlength="50" placeholder="Your Email" required title="Email">
                </div>
                {% endif %}
                <hr>

                <div class="mt-4">
                    <button class="btn btn-outline-success mb-2">Submit &nbsp;&nbsp; <i class="fas fa-paper-plane"></i> 
                    </button>
                    <a href="{% url "home" %}" class="btn btn-outline-danger mb-2 ms-2" title="Exit">
                        <i class="fas fa-times"></i>
                    </a>
                    <button class="btn btn-outline-info mb-2 ms-2 border-info" title="Help" data-bs-target="#questionModel" data-bs-toggle="modal" >
                        <i class="fas fa-question"></i>
                    </button>
                </div>


            </form>
        </div>
    </div>
    <center>
        <button class="btn mt-2 watermark" disabled style="color: #e9e9e9">
            <img style="opacity: 0.2;" src="{% static "img/favicon.png" %}" alt="watermark">
        </button>
    </center>
{% endblock content %}

